html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-text-color: #757575;
    --background-color: #2F303A;
    --background-light-color: #F5F4FA;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    

}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway; sans-serif;
    font-size: 26px;
    line-height: 1.14;
    text-decoration: none;

    display: block;
}

.blue-logo {
    color: var(--accent-color);
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

/* header */

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.nav, .main-nav, .site-navigation, .contacts {
    display: flex;
}

.nav {
    align-items: center;
}

.site-navigation {
    margin-left: 93px;
}

.site-navigation .item + .item {
    margin-left: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

ul.site-navigation a {
    color: #212121;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}

.site-navigation .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-navigation .link.current {
    color: var(--accent-color);
}

.link:hover {
    color: var(--accent-color);
}

.link:focus {
    color: var(--accent-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-item:hover {
    color: var(--accent-color);
}


.contacts-item:focus {
    color: var(--accent-color);
}

.contacts-item {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;

    display: block;

}

.contacts .item + .item {
    margin-left: 50px;
}


/* main information */

.section {
    padding-bottom: 0px;
}

.section-advantages {
    padding-bottom: 0;
}

.section-service {
    padding-bottom: 94px;
}

.section .section-title {
    padding: 0;
}

.hero {
    background-color: var(--background-color);
    color: var(--primary-white-color);

    font-family: inherit;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.43;
    text-align: center;
    max-height: 600px;

    cursor: pointer;  
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;

    margin-top: 0;
    margin-bottom: 40px;
}

.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    cursor: pointer;
}

.button:hover {
    background-color: #188CE8;
}

.button:focus {
    background-color: #188CE8;
}

/* main page button */

.button-hero {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 200px;
}



.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;
}

/* advantages */    


.advantages-list-title {
    color: var(--primary-text-ccolor);

    font-size: 14px;
    line-height: 1.15;

    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-list-title h3 {
    margin-bottom: 10;
}

.advantages-list {
    display: flex;
}

.advantages-list .advantages-list-item + .advantages-list-item {
    margin-left: 30px;
}

.advantages-list-text {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 0;
    margin-bottom: 94px;
}

/* service */

.our-team-list {
    display: flex;
}

.list-service {
    display: flex;
}

.list-service .item-service + .item-service {
    margin-left: 30px;
}

.container .list-service {
    margin-left: 0;
}

/* our team */

.our-team {
    background-color: var(--background-light-color);

    padding: 94px 94px;
}

.our-team-title {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

.our-team-member {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 30px;
}

.our-team-list .team-member + .team-member {
    margin-left: 30px;
}

/* main portfolio */

.work-list {
    margin-top: 94px;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
}

.work-list .item + .item {
    margin-left: 8px;
}

.work-list-button {
    background-color: var(--background-light-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
}

.work-list-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.work-list-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.work-list-button.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.list-portfolio {   
    margin-bottom: 94px;
    
    display: flex;
    flex-wrap: wrap;
}

.list-portfolio-item {
    margin-right: 30px;
}

.list-portfolio-item:nth-child(3n) {
    margin-right: 0;
}

a h2 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

a p {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


/* footer */


.footer-logo {
    color: var(--primary-white-color);

}

.address {
    background-color: var(--background-color);

    padding-top: 80px;
    padding-bottom: 60px;

}

.main-adress {
    color: var(--primary-white-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.main-adress a {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    text-decoration: none;
}

.footer-contacts-item:hover {
    color: var(--primary-white-color);
}

.footer-contacts-item:focus {
    color: var(--primary-white-color);
}