:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-text-color: #757575;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    

}

.logo {
    color: var(--primary-text-color);

    font-family: Raleway;
    font-size: 26px;
    line-height: 1.14;

    text-decoration: none;

}

.blue-logo {
    color: var(--accent-color);
}

a {
    text-decoration: none;
}

/* header */

ul.site-navigation a {
    color: #212121;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}

.site-navigation .link.current {
    color: var(--accent-color);
}

.link:hover {
    color: var(--accent-color);
}

.link:focus {
    color: var(--accent-color);
}

.contacts-item:hover {
    color: var(--accent-color);
}


.contacts-item:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.contacts-item {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;


}


/* main information */

.hero {
    background-color: #2F303A;
    color: var(--primary-white-color);

    font-family: inherit;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.43;
    text-align: center;

    cursor: pointer;    
}

.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    cursor: pointer;
}

.button:hover {
    background-color: #188CE8;
}

.button:focus {
    background-color: #188CE8;
}

.section-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* advantages */    

.advantages-list-title {
    color: var(--primary-text-ccolor);

    font-size: 14px;
    line-height: 1.15;
}

.advantages-list-text {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* our team */

.our-team {
    background-color: #F5F4FA;
}

.our-team-title {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.our-team-member {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* main portfolio */

.work-list-button {
    background-color: #F5F4FA;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;
}

.work-list-button:hover {
    background-color: var(--accent-color);
}

.work-list-button:focus {
    background-color: var(--accent-color);
}

.work-list-button.current {
    background-color: var(--accent-color);
}

a h2 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

a p {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


/* footer */


.footer-logo {
    color: var(--primary-white-color);

}

.address {
    background-color: #2F303A;

}

.main-adress {
    color: var(--primary-white-color);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.main-adress a {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    text-decoration: none;
}

.footer-contacts-item:hover {
    color: var(--primary-white-color);
}

.footer-contacts-item:focus {
    color: var(--primary-white-color);
}